@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<div class="container">
<h1>Welcome, this is our last assignemnt home page.</h1>
<p>Student 1 Name: Huy Minh Vo</p>
<p>Student 1 #: 040993746</p>
<p>Student 2 Name: Tran Phuong Anh Nguyen</p>
<p>Student 2 #: 040990608</p>
</div>